/* INDEX CSS */

@font-face {
    font-family: 'Ludor';
    src: url('fonts/m6x11plus.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

.active{
    
}

.inactive{

}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;

    color: #212121;

    font-family: 'Ludor', sans-serif;
}

    #header{
        text-align: center;
    }

    #games{
        margin: 40px 0px 0px 0px;
        display: flex;
        flex-wrap: wrap;

    }
        .game{
            width: auto;
            height: auto;
            margin: 10px;

            box-shadow: 0px 4px 4px 0px #212121;
            border-radius: 6px;
        }

            .game-header{
                height: auto;
                width: auto;
                padding: 5px;
                display: flex;

                border-radius: 6px 6px 0px 0px;
                background-color: #E3E3E3;

            }
                .game-header h3{
                    margin: 0px;
                }

                .game-header .status{
                    height: 20px;
                    width: 20px;
                    margin: 0px 0px 0px 15px;

                    float: right;

                    border-radius: 50%;
                }

                .game-header .active{
                    background-color: #1A7B2F;
                }

                .game-header .inactive{
                    background-color: #B10303;
                }

            .game-body{
                padding: 4px;

            }

                .game-players{
                    font-size: 14px;
                    margin: 0px 0px 10px 10px;
                }

                    .game-players p{
                        margin: 5px 0px 5px 0px;
                    }