<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Ludor es un juego de cartas privado que combina elementos del juego de cartas Culo/Presidente, póker y comodines.">
        <meta name="keywords" content="Juego de cartas, Comodín, Ludor, Juego de cartas culo, Presidente, Poker, Juego online, Estrategia">
        <meta name="author" content="BluePoint">
        <meta name="robots" content="index, follow">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="Ludor - Juego de Cartas Online">
        <meta property="og:description" content="Ludor es un juego de cartas en línea que mezcla estrategia y diversión, combinando reglas de juegos clásicos como Culo/Presidente y Poker.">
        <meta property="og:image" content="assets/images/ludor-thumbnail.jpg">
        <meta property="og:url" content="https://ludor.doplerer.com">
        <meta property="og:type" content="website">

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Ludor - Juego de Cartas Online">
        <meta name="twitter:description" content="Juega a Ludor, una mezcla única de Culo/Presidente y Poker con comodines estratégicos.">
        <meta name="twitter:image" content="assets/images/ludor-thumbnail.jpg">
        <meta name="twitter:site" content="@LudorGame">

        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

        <!-- JS -->
        <script defer type="module" th:src="@{/js/startup.js}"></script>
        <script type="module" th:src="@{/js/ws.js}"></script>
        <script type="module" th:src="@{/js/game.js}"></script>


        <title>Ludor - Juego de Cartas Online</title>
    </head>
    <body>

        <header>
            <img th:src="@{/svg/menu.svg}">
        </header>

        <div id="gameboard">
            <div id="gfix">
                <!-- STARTUP PANNEL-->
                 <div id="startup-pack">
                    <h1>LUDOR</h1>
                    <div id="startup" class="animate__animated animate__jackInTheBox">
                        <div id="nombre">
                            <input type="text" id="name" placeholder="nombre">
                            <button id="btnNombre">Jugar</button>
                        </div>

                        <p id="dropdown" class="">...</p>
                        
                        <div id="partyMenu" class="off">
                            <h4>Modo Party</h4>
                            <input type="text" id="gameCode" placeholder="ID de la partida">
                        </div>
                    </div>
                </div>

                <div id="loader" class="loader off"></div>

            

                <div id="game" class="off">
                    <div id="players">
                        <!-- Player 1 -->
                        <div class="player">
                            <div class="profile">
                                <img class="avatar" th:src="@{/svg/avatar.svg}"></img>
                                <div class="username">Charly</div>
                            </div>
                            <div class="deck">
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                            </div>
                        </div>

                        <!-- Player 2 -->
                        <div class="player">
                            <div class="profile">
                                <img class="avatar" th:src="@{/svg/avatar.svg}"></img>
                                <div class="username">Charly</div>
                            </div>
                            <div class="deck">
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                            </div>
                        </div>

                        <!-- Player 3 -->
                        <div class="player">
                            <div class="profile">
                                <img class="avatar" th:src="@{/svg/avatar.svg}"></img>
                                <div class="username">Charly</div>
                            </div>
                            <div class="deck">
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                            </div>
                        </div>

                        <!-- Player 4 -->
                        <div class="player">
                            <div class="profile">
                                <img class="avatar" th:src="@{/svg/avatar.svg}"></img>
                                <div class="username">Charly</div>
                            </div>
                            <div class="deck">
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                            </div>
                        </div>

                        <!-- Player 5 -->
                        <div class="player">
                            <div class="profile">
                                <img class="avatar" th:src="@{/svg/avatar.svg}"></img>
                                <div class="username">Charly</div>
                            </div>
                            <div class="deck">
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                                <img class="card" th:src="@{/svg/cards/BACK.svg}"></img>
                            </div>
                        </div>
                        
                    </div>

                    <div id="middle">
                        <img th:src="@{/svg/cards/AS.svg}"></img>
                    </div>

                    <div id="playerPanel">

                        <div id="deck" class="deck">
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card selected" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                            <img class="card" th:src="@{/svg/cards/AS.svg}"></img>
                        </div>

                        <div id="profile" class="profile">
                            <img class="avatar" th:src="@{/svg/avatar.svg}"></img>
                            <div class="username">Charly</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            
    </body>

</html>
