<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Ludor es un juego de cartas privado que combina elementos del juego de cartas Culo/Presidente, póker y comodines.">
        <meta name="keywords" content="Juego de cartas, Comodín, Ludor, Juego de cartas culo, Presidente, Poker, Juego online, Estrategia">
        <meta name="author" content="BluePoint">
        <meta name="robots" content="index, follow">

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="Ludor - Juego de Cartas Online">
        <meta property="og:description" content="Ludor es un juego de cartas en línea que mezcla estrategia y diversión, combinando reglas de juegos clásicos como Culo/Presidente y Poker.">
        <meta property="og:image" content="assets/images/ludor-thumbnail.jpg">
        <meta property="og:url" content="https://ludor.doplerer.com">
        <meta property="og:type" content="website">

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Ludor - Juego de Cartas Online">
        <meta name="twitter:description" content="Juega a Ludor, una mezcla única de Culo/Presidente y Poker con comodines estratégicos.">
        <meta name="twitter:image" content="assets/images/ludor-thumbnail.jpg">
        <meta name="twitter:site" content="@LudorGame">

        <link rel="icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
        <link rel="stylesheet" th:href="@{/css/index.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

        <script th:src="@{/js/ws.js}"></script>


        <title>Ludor - Juego de Cartas Online</title>
    </head>
    <body>

        <header>
            <img th:src="@{/svg/menu.svg}">
        </header>

        <div id="gameboard">
            <div id="gfix">
                <!-- STARTUP PANNEL-->
                 <div id="startup-pack">
                    <h1>LUDOR</h1>
                    <div id="startup" class="animate__animated animate__jackInTheBox">
                        <div id="nombre">
                            <input type="text" id="name" placeholder="nombre">
                            <button id="btnNombre">Jugar</button>
                        </div>

                        <p id="dropdown" class="">...</p>
                        
                        <div id="partyMenu" class="off">
                            <h4>Modo Party</h4>
                            <input type="text" id="gameCode" placeholder="ID de la partida">
                        </div>
                    </div>
                </div>

                <div id="loader" class="loader off"></div>

            </div>
        </div>

        
        <script> 
            // ### dropdown party menu 
            var dropdown = document.getElementById("dropdown");
            var partyMenu = document.getElementById("partyMenu");

            dropdown.onclick = function() {
                    dropdown.classList.add("off");
                    partyMenu.classList.remove("off");
            }
        </script>
        
        <script>
            // ### Grab user data and stablish ws
            var startup_pack = document.getElementById("startup-pack");
            var btnNombre = document.getElementById("btnNombre");
            var nameInput = document.getElementById("name");
            var gameCode = document.getElementById("gameCode");
            var loader = document.getElementById("loader");

            nameInput.focus();

            // Adds animation and removes when it ends
            function animateAndRemove(element, animation){
                element.classList.add("animate__animated", animation);
                element.addEventListener("animationend", function() {
                    element.classList.remove("animate__animated", animation);
                });
            }

            // Removes startup menu when valid and starts ws
            function juegoInit () {
                var name = nameInput.value;
                var code = gameCode.value;

                if (name === "") {
                    animateAndRemove(startup_pack, "animate__wobble");
                    return 0;
                }

                startup_pack.classList.add("animate__animated", "animate__fadeOutUpBig");
                setTimeout(function() {
                    startup_pack.classList.add("off");
                    loader.classList.remove("off");
                }, 400);

            }

            // Event listeners para inputs
            btnNombre.onclick = juegoInit;
            nameInput.addEventListener("keydown", function (e) {
                if (e.key === "Enter") {
                    juegoInit();
                }
            });
            gameCode.addEventListener("keydown", function (e) {
                if (e.key === "Enter") {
                    juegoInit();
                }
            });
            
        </script>
            
    </body>


</html>
