<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="BluePoint">
        <meta name="robots" content="noindex, nofollow">

        <link rel="stylesheet" th:href="@{/css/stats.css}">


        <title>Ludor - Stats</title>
    </head>
    <body>

        <h1 id="header">LUDOR STATS</h1>

        <div id="games"></div>

        <script>

            fetch('http://localhost:8080/api/stats')
                .then(response => response.json()) 
                .then(data => printData(data)) 
                .catch(error => console.error('Error:', error));

            function printData(data){
                var gamesContainer = document.getElementById("games");
                gamesContainer.innerHTML = "";

                let games = Object.keys(data);
                for (i = 0; i<games.length; i++){
                    let game = data[games[i]];
                    let id = game.id;
                    let active = game.active
                    let status = "inactive";
                    if(active){
                        status = "active";
                    }
                    let players = game.players
                    let lastTurn = game.lastTurn

                    let playerList = "";
                    for (j=0;j<players.length;j++){
                        playerList += "<p>" + players[j].username + " (" + players[j].id + ")</p>"
                    }

                    gamesContainer.innerHTML += 
                    `
                    <div class="game">
                        <div class="game-header">
                            <h3>` + id + ` </h3>
                            <div class="status `+status+`"></div>
                            <div class="game-status"></div>
                        </div>
                        <div class="game-body">

                            <p><b>PLAYERS</b>: ` + players.length + `</p>
                            <div class="game-players">
                                `
                                + playerList +
                                `
                            </div>

                            <p><b>LAST TURN</b>: ` + lastTurn + `</p>
                            
                        </div>
                    </div> ` 
                }
                    

                }

            setInterval(() => {
                fetch('http://localhost:8080/api/stats')
                    .then(response => response.json()) 
                    .then(data => printData(data)) 
                    .catch(error => console.error('Error:', error));
            }, 5000);

        </script>
            
    </body>

</html>
