<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="BluePoint">
        <meta name="robots" content="noindex, nofollow">

        <link rel="stylesheet" th:href="@{/css/stats.css}">


        <title>Ludor - Stats</title>
    </head>
    <body>

        <h1 id="header">LUDOR STATS</h1>

        <div id="games">

            <div class="game">
                <div class="game-header">
                    <h3>35647yg</h3>
                    <div class="game-status"></div>
                </div>
                <div class="game-body">

                    

                </div>
            </div>

        </div>
            
    </body>

</html>
